<aside class="all-recipes">
	<!-- select category -->
	<div class="food-categories">
		<div class="dropdown-category">
			<input class="input-category" type="text">
			 <div class="dropdown-text">Categorias
					<span class="btn-select"></span>
			 </div>
				<ul class="dropdown-content">
		    	<li class="category">
		    		<a href="#"><span class="box-icon-category"><img class="icon-category" src="assets/img/svg/category/lunch.svg" alt=""></span>Almuerzos</a>
		    	</li>
		    	<li class="category">
		    		<a href="#"><span class="box-icon-category"><img class="icon-category" src="assets/img/svg/category/salad.svg" alt=""></span>Ensaladas</a>
		    	</li>
		    	<li class="category">
		    		<a href="#"><span class="box-icon-category"><img class="icon-category" src="assets/img/svg/category/breakfast.svg" alt=""></span>Desayunos</a>
		    	</li>
		    	<li class="category">
		    		<a href="#"><span class="box-icon-category"><img class="icon-category" src="assets/img/svg/category/cake.svg" alt=""></span>Postres</a>
		    	</li>
		  	</ul>
		</div>
	</div>
	
	<div class="box-card-recipe">
		<div class="card-recipe">
			<div class="photo-recipe-min">
				<img src="assets/img/jpg/" alt="">
			</div>
			<div class="content-card-recipe">
				<h4 class="title-recipe">
					Pasta Carbonara
				</h4>
				<ul class="tags-min">
					<li class="tag-min tag-category"><span>
						<img class="icon icon-category" src="assets/img/svg/lunch.svg" alt="">
					</span>Lunch</li>
					<li class="tag-min tag-time"><span>
						<img class="icon icon-category" src="assets/img/svg/lunch.svg" alt="">
					</span>15 min</li>
				</ul>
			</div>
		</div>
	</div>

</aside>