<aside class="all-recipes">
	<div class="food-categories">
		<div class="dropdown-category">
			<input class="input-category" type="text">
			 <div class="dropdown-text">Categorias
					<span class="btn-select"></span>
			 </div>
				<ul class="dropdown-content">
		    	<li class="category">
		    		<a href="#"><span class="box-icon-category"><img class="icon-category" src="assets/img/svg/category/lunch.svg" alt=""></span>Almuerzos</a>
		    	</li>
		    	<li class="category">
		    		<a href="#"><span class="box-icon-category"><img class="icon-category" src="assets/img/svg/category/salad.svg" alt=""></span>Ensaladas</a>
		    	</li>
		    	<li class="category">
		    		<a href="#"><span class="box-icon-category"><img class="icon-category" src="assets/img/svg/category/breakfast.svg" alt=""></span>Desayunos</a>
		    	</li>
		    	<li class="category">
		    		<a href="#"><span class="box-icon-category"><img class="icon-category" src="assets/img/svg/category/cake.svg" alt=""></span>Postres</a>
		    	</li>
		  	</ul>
		</div>
	</div>
</aside>