
<div class="card-recipe">
	<a href="recipe-detail.html">
		<div class="photo-recipe-min">
			<img src="assets/img/jpg/img-recipe.jpg" alt="">
		</div>
		
		<div class="content-card-recipe">
			<h4 class="title-card">
				Pasta Carbonara
			</h4>
			<ul class="tags-min">
				<li class="tag-min tag-category"><span>
					<img class="icon icon-category" src="assets/img/svg/category/lunch.svg" alt="">
				</span>Lunch</li>
				<li class="tag-min tag-time"><span>
					<img class="icon icon-category" src="assets/img/svg/time.svg" alt="">
				</span>15 min</li>
			</ul>
		</div>
	</a>
</div>