<header class="header">
	<!-- searcher -->
	<div class="searcher">
		<form role="search" method="get" id="search-form" class="search-form" action="">
			<div class="content-searcher">
				<input class="input input-search" type="text" value="" name="search" id="search" placeholder="Busca tu receta">
				<button class="button button-square" value="Search" name="button-search" type="submit"> 
					<span class="icon-search">
						<img class="icon" src="assets/img/svg/header/search.svg" alt="">
					</span>
				</button>
			</div>
		</form>
	</div>

	<div class="header-actions">
		<div class="box-actions">
			<div class="tittle-app">
				<h1>Recetario</h1>
			</div>
			<div class="btn-actions btn-new-recipe">
				<button class="button button-square button-recipe" value="new" name="new-recipe" type="">
					<span class="icon-new">
						<img class="icon" src="assets/img/svg/header/plus.svg" alt="">
					</span>
				</button>
			</div>
			<!-- only tablet and mobile -->
			<div class="btn-actions btn-open-recipes">
				<button class="button button-square button-recipe" value="new" name="new-recipe" type="">
					<span class="icon-new">
						<img class="icon" src="assets/img/svg/header/chef31.svg" alt="">
					</span>
				</button>
			</div>
		</div>
	</div>
		
</header>