<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="application-name" content="recetario">
	<meta name="author" content="Jessica Aristimuño">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all">
	
	<title>Recetario</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<!--Favicon-->
	
	<link rel="stylesheet" href="assets/css/main.css">

</head>
<body>
	<!-- header -->
	<% include main/_header %>

	<!-- all recipes -->
	<% include main/_all-recipes %>

	<section class="main-background beginning">
		<div class="container-begining">
			<div class="img-chef">
				<img src="assets/img/svg/chef.svg" alt="">
			</div>
		
			<div class="box-text-start">
				<p class="text-start">Ya no perderas tus recetas,</p>
				<p class="text-start">guardalas y revisalas cuando quieras</p>
			</div>
			<div class="create-recipe">
				<button class="button button-style" value="new" name="new-recipe" type="">Crear nueva receta</button>
			</div>
		</div>
	</section>

</body>
</html>