<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="application-name" content="recetario">
	<meta name="author" content="Jessica Aristimuño">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="all">
	
	<title>Recetario</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<!--Favicon-->
	
	<link rel="stylesheet" href="assets/css/main.css">

</head>
<body>
	<!-- header -->
	<% include main/_header %>

	<!-- all recipes -->
	<% include main/_all-recipes %>

	<section class="recipe-detail">
		<article class="contain-recipe">
			<div class="box-main-title">
				<h2 class="title-recipe-big">Pasta a la carbonara</h2>
			</div>

			<div class="box-categories">
				<div class="tags">
					<ul class="tags-big">
						<li class="tag-big tag-category"><span>
							<img class="icon icon-category" src="assets/img/svg/category/lunch.svg" alt="">
							</span>Lunch</li>
						<li class="tag-big tag-time"><span>
							<img class="icon icon-category" src="assets/img/svg/time.svg" alt="">
							</span>15 min
						</li>
					</ul>
				</div>
				<div class="actions">
					
				</div>
			</div>

			<div class="box-recipe">
				<div class="ingredients">
					<p class="subtitle">Ingredientes</p>
					<p>- 250 gramos de espaguetis
					<br>- 150 gramos de panceta fresca
					<br>- 150 gramos de queso parmesano
					<br>- 4 huevos grandes
					<br>- 4 dientes de ajo
					<br>- Aceite de oliva virgen extra
					<br>- Sal
					<br>- Pimienta negra molida
					</p>
				</div>
			</div>
		</article>
		
	</section>


</body>
</html>